<font size=6> <b> Week #1 - Financial Data Reading </b> </font>
<div class="alert alert-block alert-success">
  - Let's discuss the 10-weeks schedule. <br>
  - As the first step to Time-Series data analysis, let's see
  how wee can load financial data using 3rd-party libraries<br>
    
</div>
</div>

<p style="text-align:right;"> sumyeon@gmail.com </p>

<hr>

# 10 weeks schedule

### (my draft)

1) Greeting, Schedule, Financial Data Loading
2) Time-Series Data Analysis Introduction I
3) Time-Series Data Analysis Introduction II
4) Visualization & Prediction Performance Measure
5) Time-Series data prediction I : Idea, Implementation, Demo
6) Time-Series data prediction II : Idea, Implementation, Demo
7) Time-Series data prediction III : Idea, Implementation, Demo 
8) Time-Series data prediction IV : Idea, Implementation, Demo
9) Time-Series data prediction V : Idea, Implementation, Demo 
10) Wrap-up : summary, lesson learned, to-do

# Domain keywords

<ul>
    <li> Period: The frequency with which the data is collected; common selections are ‘1d’ (daily), ‘1mo’ (monthly), and ‘1y’ (yearly) </li>
    <li> Start: The date on which the data collection will begin. For example, ‘2015–5–25′ </li>
    <li> End: the date on which the data collection will be completed. For instance, ‘2021–9–25.’ </li>
    <li> Open: The stock price at the start of that day/month/year. </li>
    <li> Close: the stock price at the conclusion of that particular day/month/year </li>
    <li> Adj Close: the stock price same as 'Close' but adjusted for dividends and splits.
    <li> High: the stock’s highest price that day/month/year. </li>
    <li> Low: the stock’s lowest price that day/month/year.</li>
    <li> Volume: The number of shares traded that day/month/year.</li>
</ul>

# Pandas DataReaders
- https://pydata.github.io/pandas-datareader/index.html# -
- It support an API to download historical stock data from various sources such as World Bank, OECD, Yahoo Finance, Naver Finance, etc.
- Originally, it aims to provide various data to pandas, but at the time most are related to financial data.
- Naver Financial Data, Yahoo Financial Data.

<div class="alert alert-block alert-info">
[참조] 주식 데이터를 보는 경우, 기업 경영 상태에 대한 정보는 다트 (http://dart.fss.or.kr/)를 통해서 알아보자. <br>
다트는 기업정보 전자공시 사이트로서 기업의 경영 상태에 대한 상세한 정보를 구할 수 있다. <br>
(참고로, 미국과 유럽에는 없고 한국에만 있는 시스템이라 워렌 버핏이  극찬한 시스템이라고 함)
</div>

## package install

> pip install pandas-datareader <br>
> pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org pandas-datareader

## download data from Naver Finance (KOSPI, KOSDAQ)

In [16]:
import pandas_datareader.data as web

df = web.DataReader('005930', 'naver', start='2019-09-10', end='2019-10-09')
df.head()

             Open   High    Low  Close    Volume
Date
2019-09-10  47100  47200  46550  47000   9231792
2019-09-11  47300  47400  46800  47150  16141619
2019-09-16  47000  47100  46400  47100  15550926
2019-09-17  47000  47100  46800  46900   7006280
2019-09-18  46900  47700  46800  47700  10413027

## download data from Yahoo Finance (support 3 endpoints)
- yahoo - retrieve daily stock prices (high, open, close, volu,e and adjusted close)
- yahoo-actions - retrieve historical corporate actions (dividends and stock splits)
- yahoo-dividends - retrieve historical dividends

<div class="alert alert-block alert-danger">
  At the time, the server-side is not responding.  <br>  
</div>

In [9]:
import pandas_datareader.data as web
import pandas_datareader as pdr
import pandas as pd
import datetime as dt

In [ ]:
df = web.DataReader('GE', 'yahoo', start='2022-01-10', end='2022-02-09')
df.head()

In [ ]:
start = dt.datetime(2010, 1, 29)
end = dt.datetime.today()
actions = web.DataReader('GOOG', 'yahoo-actions', start, end)
actions.head()

In [ ]:
dividends = web.DataReader('IBM', 'yahoo-dividends', start, end)
dividends.head()

# yfinance (Yahoo Finance)
- https://pypi.org/project/yfinance/
- download market data from yahoo finance

## package install

> pip install yfinance <br>
> pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org yfinance

## download data from Yahoo Finance (simple way)

In [59]:
import yfinance as yf
df = yf.download('AMD','2021-01-01','2021-09-30')
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-31  92.099998  92.300003  90.870003  91.709999  91.709999  24930700
2021-01-04  92.110001  96.059998  90.919998  92.300003  92.300003  51802600
2021-01-05  92.099998  93.209999  91.410004  92.769997  92.769997  34208000
2021-01-06  91.620003  92.279999  89.459999  90.330002  90.330002  51911700
2021-01-07  91.330002  95.510002  91.199997  95.160004  95.160004  42897200

## Ticker-related API

In [ ]:
msft = yf.Ticker("MSFT")

# get stock info
msft.info

In [61]:
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055783,0.063987,0.055783,0.061252,1031788800,0.0,0.0
1986-03-14,0.061252,0.064533,0.061252,0.063439,308160000,0.0,0.0
1986-03-17,0.063439,0.065080,0.063439,0.064533,133171200,0.0,0.0
1986-03-18,0.064533,0.065080,0.062345,0.062892,67766400,0.0,0.0
1986-03-19,0.062892,0.063439,0.061252,0.061799,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-05-09,270.059998,272.359985,263.320007,264.579987,47726000,0.0,0.0
2022-05-10,271.690002,273.750000,265.070007,269.500000,39336400,0.0,0.0
2022-05-11,265.679993,271.359985,259.299988,260.549988,48975900,0.0,0.0
2022-05-12,257.690002,259.880005,250.020004,255.350006,51033800,0.0,0.0
2022-05-13,257.350006,263.040009,255.350006,261.119995,34893400,0.0,0.0

In [ ]:
# show financials
msft.financials
msft.quarterly_financials
# show major holders
msft.major_holders
# show institutional holders
msft.institutional_holders
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet
# show cashflow
msft.cashflow
msft.quarterly_cashflow
# show earnings
msft.earnings
msft.quarterly_earnings
# show sustainability
msft.sustainability
# show analysts recommendations
msft.recommendations
# show next event (earnings, etc)
msft.calendar
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin
# show options expirations
msft.options
# show news
msft.news
# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

# PyKRX
- https://github.com/sharebook-kr/pykrx
- Data scraping module from KRX, Naver

<div class="alert alert-block alert-danger">
  This module provides a various kind of APIs. However, at the time, most APIs are not working. <br>  
</div>

# Meta-Data (addition data for time-series data)
- name/category/etc. data for korean stock market

## 한국 증권 거래소에서 상장회사 정보를 다운받아 준비
 - http://marketdata.krx.co.kr/mdi#document=040601

In [40]:
metadf = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]

In [44]:
metadf.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DL,000210,기타 금융업,지주회사,1976-02-02,12월,전병욱,http://www.dlholdings.co.kr,서울특별시
1,DRB동일,004840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월,류영식,http://drbworld.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,078930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,KG케미칼,001390,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제",1989-08-25,12월,"곽정현, 김재익",http://www.kgchem.co.kr,울산광역시

In [42]:
metadf['종목코드'] = (metadf['종목코드'].apply(lambda x : f"{x:06}")).astype(str)

### 회사명 <--> 종목코드간 변환 위한 dictionary 준비

In [51]:
name2code_dict = dict(zip( metadf['회사명'].values, metadf['종목코드'].values))
code2name_dict = dict(zip( metadf['종목코드'].values, metadf['회사명'].values))

# All-in-one

In [1]:
metadf = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]
metadf['종목코드'] = (metadf['종목코드'].apply(lambda x : f"{x:06}")).astype(str)
name2code_dict = dict(zip( metadf['회사명'].values, metadf['종목코드'].values))
code2name_dict = dict(zip( metadf['종목코드'].values, metadf['회사명'].values))

In [41]:
import pandas_datareader as pdr
import pandas_datareader.data as pdrdata
import pandas as pd
import datetime

In [42]:
def getStockHistory(target, start='2019-01-01', end=datetime.datetime.now().strftime('%Y-%m-%d')):
    """
    return the stock histories of the companies given
    
    Parameters:
        target   : str, int - a company name (str) or code (int)
        start    : str - start date string
        end      : str - end date string
        
    Returns:
        list : list of stock history data frame
    """
    
    # name <-> code 
    if isinstance(target, str) and not target.isnumeric():
        tickername = target
        ticker = name2code_dict[target]
    else:
        ticker = target
        tickername = code2name_dict[target]
        
    stockdf = pdrdata.DataReader(ticker, 'naver', start, end)
    for col in stockdf:
        stockdf[col] = stockdf[col].astype(int)
    stockdf = stockdf.assign(tickername=tickername, tickercode=ticker)
    return stockdf

In [43]:
getStockHistory("삼성전자", start='2022-01-01')

             Open   High    Low  Close    Volume tickername tickercode
Date
2022-01-03  79400  79800  78200  78600  13502112       삼성전자     005930
2022-01-04  78800  79200  78300  78700  12427416       삼성전자     005930
2022-01-05  78800  79000  76400  77400  25470640       삼성전자     005930
2022-01-06  76700  77600  76600  76900  12931954       삼성전자     005930
2022-01-07  78100  78400  77400  78300  15163757       삼성전자     005930
...           ...    ...    ...    ...       ...        ...        ...
2022-06-03  67200  67300  66800  66800   8222883       삼성전자     005930
2022-06-07  66200  66400  65400  65500  19355755       삼성전자     005930
2022-06-08  65400  65700  65300  65300  12483180       삼성전자     005930
2022-06-09  65100  65200  64500  65200  25790725       삼성전자     005930
2022-06-10  64000  64400  63800  63800  22022851       삼성전자     005930

[107 rows x 7 columns]